*{
	overflow-x: hidden;
}

.icon-bar {
  color: grey;
  border-color: grey;
  background-color: grey;
}

li a{
	color: #505050;
}

.logoForma{
	height: 100%;
}

/* home */
.home{
	margin:0;
	background-image: url(../assets/images/taxi.jpg);
	background-position: bottom;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	color: #fff;
	min-height: 500px;
}

/* home registro*/
.registro{
	background-color: #F7B617;
	margin-top: 9%;
	height: auto;
	padding: 20px;
}
.registro h1{
	font-size: 3em;
}

.registro h5 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.registro h5:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    vertical-align: center;
    text-shadow: none;
    background-color: #fff;
    width: 150px;
}
.registro h5:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    vertical-align: center;
    text-shadow: none;
    background-color: #fff;
    width: 150px;
}

/* seccion descarga app*/
.app{
	background-color: #F7B617;
	color:#fff;
	font-size: 1.3em;
	font-weight: lighter;
}

.app p{
	margin-top: 30px;
	font-size: 1em;
}
.line{
	
	border:1px solid white;
	height: 300px;
	margin: 50px 0 50px 0;
	height: auto;
}

.descarga {
	border: none;
	color: #505050;
	margin-top: 20px;
	margin-left: 20px;
}

.app h3{
	font-size: 1.2em;
	font-weight: bold;
}

.registrate{
	border:none;
	text-transform: uppercase;
	font-weight: bolder;
	color: #505050;
}

.convierte{
	border:none;
	color: #505050;
}

/* seccion conduce */

.conduce{
	
	background-image: url(../assets/images/conduce.jpg);
	background-position: bottom;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 1.5em;
}

.conduce h3{
	font-weight: bolder;
	font-size: 1em;
}

.opacidad{
	background-color: rgba(0,0,0, 0.5);
	height: 400px;

}

.conductor{
	background-color: #F7A733;
	color: white;
}

/* seccion TARIFAS */

.tarifa{
	background-color: #F7A733;
	color: white;
	padding: 3em;
}

.tariRow{
	padding: 20px;
}

.shapeOne{
	margin-top: 30px;
}

.shapeOne input{
	background-color: #F7A733;
	border:1px solid white;
	color:#fff;
}

.travel::-webkit-input-placeholder {  
	color: white; 
} 
.travel::-moz-placeholder {   
	color: white; 
} 
.travel::-ms-input-placeholder {    
	color: white;
} 
.travel::-moz-placeholder {    
	color: white; 
}

.shapeTwo{
	margin-top: 30px;
	margin-bottom: 30px;
}

.shapeTwo input{
	background-color: #F7A733;
	border:1px solid white;
	color:#fff;
}
.map{
	border:1px solid white;
	padding-top: 15px;
}

.map iframe{
	height: 300px;
}

.tariRow button{
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color:#505050;
}


/*footer*/
.footerDown{
	background-color: #505050;
	color:#fff;
	padding: 20px;
}

.logos{
	padding: 10px;
	padding-right: 5px;
}

.logos img{
	margin-top: 10px;
}
.logoFooter hr{
	color: #fff;
}

.menuFooter li{
	margin-top:5px;
}
.menuFooter li a{
	color:#fff;
	font-size: 0.8em;

}

